lab04/Lab4WebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://lab4.com/" name="Lab4WebService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://lab4.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://lab4.com/" schemaLocation="Lab4WebService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addStudentToClass">
    <part name="parameters" element="tns:addStudentToClass"/>
  </message>
  <message name="addStudentToClassResponse">
    <part name="parameters" element="tns:addStudentToClassResponse"/>
  </message>
  <message name="getAllClasses">
    <part name="parameters" element="tns:getAllClasses"/>
  </message>
  <message name="getAllClassesResponse">
    <part name="parameters" element="tns:getAllClassesResponse"/>
  </message>
  <message name="removeClass">
    <part name="parameters" element="tns:removeClass"/>
  </message>
  <message name="removeClassResponse">
    <part name="parameters" element="tns:removeClassResponse"/>
  </message>
  <message name="createNewClass">
    <part name="parameters" element="tns:createNewClass"/>
  </message>
  <message name="createNewClassResponse">
    <part name="parameters" element="tns:createNewClassResponse"/>
  </message>
  <message name="getConcreteClass">
    <part name="parameters" element="tns:getConcreteClass"/>
  </message>
  <message name="getConcreteClassResponse">
    <part name="parameters" element="tns:getConcreteClassResponse"/>
  </message>
  <message name="addTutorToClass">
    <part name="parameters" element="tns:addTutorToClass"/>
  </message>
  <message name="addTutorToClassResponse">
    <part name="parameters" element="tns:addTutorToClassResponse"/>
  </message>
  <message name="replaceClass">
    <part name="parameters" element="tns:replaceClass"/>
  </message>
  <message name="replaceClassResponse">
    <part name="parameters" element="tns:replaceClassResponse"/>
  </message>
  <portType name="Lab4WebService">
    <operation name="addStudentToClass">
      <input wsam:Action="http://lab4.com/Lab4WebService/addStudentToClassRequest" message="tns:addStudentToClass"/>
      <output wsam:Action="http://lab4.com/Lab4WebService/addStudentToClassResponse" message="tns:addStudentToClassResponse"/>
    </operation>
    <operation name="getAllClasses">
      <input wsam:Action="http://lab4.com/Lab4WebService/getAllClassesRequest" message="tns:getAllClasses"/>
      <output wsam:Action="http://lab4.com/Lab4WebService/getAllClassesResponse" message="tns:getAllClassesResponse"/>
    </operation>
    <operation name="removeClass">
      <input wsam:Action="http://lab4.com/Lab4WebService/removeClassRequest" message="tns:removeClass"/>
      <output wsam:Action="http://lab4.com/Lab4WebService/removeClassResponse" message="tns:removeClassResponse"/>
    </operation>
    <operation name="createNewClass">
      <input wsam:Action="http://lab4.com/Lab4WebService/createNewClassRequest" message="tns:createNewClass"/>
      <output wsam:Action="http://lab4.com/Lab4WebService/createNewClassResponse" message="tns:createNewClassResponse"/>
    </operation>
    <operation name="getConcreteClass">
      <input wsam:Action="http://lab4.com/Lab4WebService/getConcreteClassRequest" message="tns:getConcreteClass"/>
      <output wsam:Action="http://lab4.com/Lab4WebService/getConcreteClassResponse" message="tns:getConcreteClassResponse"/>
    </operation>
    <operation name="addTutorToClass">
      <input wsam:Action="http://lab4.com/Lab4WebService/addTutorToClassRequest" message="tns:addTutorToClass"/>
      <output wsam:Action="http://lab4.com/Lab4WebService/addTutorToClassResponse" message="tns:addTutorToClassResponse"/>
    </operation>
    <operation name="replaceClass">
      <input wsam:Action="http://lab4.com/Lab4WebService/replaceClassRequest" message="tns:replaceClass"/>
      <output wsam:Action="http://lab4.com/Lab4WebService/replaceClassResponse" message="tns:replaceClassResponse"/>
    </operation>
  </portType>
  <binding name="Lab4WebServicePortBinding" type="tns:Lab4WebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addStudentToClass">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllClasses">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeClass">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createNewClass">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getConcreteClass">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addTutorToClass">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="replaceClass">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Lab4WebService">
    <port name="Lab4WebServicePort" binding="tns:Lab4WebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

