lab4Client/Lab4Client/xml-resources/web-service-references/Lab4WebService/wsdl/localhost_8080/lab04/Lab4WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab4.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab4.com/" name="Lab4WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://lab4.com/" schemaLocation="http://localhost:8080/lab04/Lab4WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="replaceClass">
<part name="parameters" element="tns:replaceClass"/>
</message>
<message name="replaceClassResponse">
<part name="parameters" element="tns:replaceClassResponse"/>
</message>
<message name="createNewClass">
<part name="parameters" element="tns:createNewClass"/>
</message>
<message name="createNewClassResponse">
<part name="parameters" element="tns:createNewClassResponse"/>
</message>
<message name="addTutorToClass">
<part name="parameters" element="tns:addTutorToClass"/>
</message>
<message name="addTutorToClassResponse">
<part name="parameters" element="tns:addTutorToClassResponse"/>
</message>
<message name="getAllClasses">
<part name="parameters" element="tns:getAllClasses"/>
</message>
<message name="getAllClassesResponse">
<part name="parameters" element="tns:getAllClassesResponse"/>
</message>
<message name="getConcreteClass">
<part name="parameters" element="tns:getConcreteClass"/>
</message>
<message name="getConcreteClassResponse">
<part name="parameters" element="tns:getConcreteClassResponse"/>
</message>
<message name="removeClass">
<part name="parameters" element="tns:removeClass"/>
</message>
<message name="removeClassResponse">
<part name="parameters" element="tns:removeClassResponse"/>
</message>
<message name="addStudentToClass">
<part name="parameters" element="tns:addStudentToClass"/>
</message>
<message name="addStudentToClassResponse">
<part name="parameters" element="tns:addStudentToClassResponse"/>
</message>
<portType name="Lab4WebService">
<operation name="replaceClass">
<input wsam:Action="http://lab4.com/Lab4WebService/replaceClassRequest" message="tns:replaceClass"/>
<output wsam:Action="http://lab4.com/Lab4WebService/replaceClassResponse" message="tns:replaceClassResponse"/>
</operation>
<operation name="createNewClass">
<input wsam:Action="http://lab4.com/Lab4WebService/createNewClassRequest" message="tns:createNewClass"/>
<output wsam:Action="http://lab4.com/Lab4WebService/createNewClassResponse" message="tns:createNewClassResponse"/>
</operation>
<operation name="addTutorToClass">
<input wsam:Action="http://lab4.com/Lab4WebService/addTutorToClassRequest" message="tns:addTutorToClass"/>
<output wsam:Action="http://lab4.com/Lab4WebService/addTutorToClassResponse" message="tns:addTutorToClassResponse"/>
</operation>
<operation name="getAllClasses">
<input wsam:Action="http://lab4.com/Lab4WebService/getAllClassesRequest" message="tns:getAllClasses"/>
<output wsam:Action="http://lab4.com/Lab4WebService/getAllClassesResponse" message="tns:getAllClassesResponse"/>
</operation>
<operation name="getConcreteClass">
<input wsam:Action="http://lab4.com/Lab4WebService/getConcreteClassRequest" message="tns:getConcreteClass"/>
<output wsam:Action="http://lab4.com/Lab4WebService/getConcreteClassResponse" message="tns:getConcreteClassResponse"/>
</operation>
<operation name="removeClass">
<input wsam:Action="http://lab4.com/Lab4WebService/removeClassRequest" message="tns:removeClass"/>
<output wsam:Action="http://lab4.com/Lab4WebService/removeClassResponse" message="tns:removeClassResponse"/>
</operation>
<operation name="addStudentToClass">
<input wsam:Action="http://lab4.com/Lab4WebService/addStudentToClassRequest" message="tns:addStudentToClass"/>
<output wsam:Action="http://lab4.com/Lab4WebService/addStudentToClassResponse" message="tns:addStudentToClassResponse"/>
</operation>
</portType>
<binding name="Lab4WebServicePortBinding" type="tns:Lab4WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="replaceClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addTutorToClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllClasses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getConcreteClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addStudentToClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Lab4WebService">
<port name="Lab4WebServicePort" binding="tns:Lab4WebServicePortBinding">
<soap:address location="http://localhost:8080/lab04/Lab4WebService"/>
</port>
</service>
</definitions>